<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />

  <!-- custom css file link  -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/style2.css">
  <title>Nivel avanzado</title>
</head>

<body>
  <header class="header">

    <a href="#" class="logo">
      <img src="images/logo.png" alt="">
    </a>

    <nav class="navbar">
      <a href="/">Volver al inicio</a>
      <a href="/intermedio">Volver al nivel anterior</a>
    </nav>

    <div class="icons">
      <div class="fas fa-bars" id="menu-btn"></div>
    </div>
  </header>
  <br><br><br>

  <section class="about" id="about">

    <h1 class="heading"> <span>NIVEL </span> AVANZADO </h1>

    <div class="row">

      <div class="image">
        <img src="images/about-img.jpeg" alt="">
      </div>
      <div class="content" id="apartado1">
        <h3>MongoDB </h3>
        <p>En este nivel Aprenderas a usar los comandos basicos de la consola de MongoDB y sobre todo a generar bases de
          datos, documentos, colecciones, consultas entre otas.</p>

        <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
          Ver evaluaci칩n
        </button>
        <a href="/consola"> <button class="btn btn-success btn-lg">
            Abrir consola
          </button></a>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enrollLabel">Evaluaci칩n</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="res1" class="lead">Operador de igualdad $eq suponiendo que estamos en la coleccion libros
                busque un libro que el
                nombre sea igual a Harry Potter</label>
              <select name="res1" id="res1" class="form-control">
                <option value="" class="lead">Selecciona unas respuesta...</option>
                <option value="1" class="lead">db.find({})</option>
                <option value="2" class="lead">libros.find({ })</option>
                <option value="3" class="lead">db.libros.find({ nombres:{$eq:"Harry Potter" }})</option>
                <option value="4" class="lead">db.libros({ nombres:{$eq:"Harry Potter" }).find()</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="res2" class="lead">Operador de mayor que suponiendo que estamos en la coleccion libros busque
                un libro donde el
                precion sea mayor que 20.000</label>
              <select name="res2" id="res2" class="form-control">
                <option value="" class="lead">Selecciona unas respuesta...</option>
                <option value="1" class="lead">db.libros.find({ precio:{$gt:20.000} })</option>
                <option value="2" class="lead">libros.find()</option>
                <option value="3" class="lead">db.find({ precio:{$gt:20.000} })</option>
                <option value="4" class="lead">libros.find({ precio:{$gt:20.000} })</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="res3" class="lead">Operador $gte y $lte suponiendo que estamos en la coleccion Autores donde
                esta guardado a침o de
                nacimiento(Anac), A침o de fallecimiento(Afa) y nombre busque las fechas de nacimiento de los autores que
                estre entre el rango de 1950 a 1970</label>
              <select name="res3" id="res3" class="form-control">
                <option value="" class="lead">Selecciona unas respuesta...</option>
                <option value="1" class="lead">find({ Anac:{$gte:1950, $lte:1970} })</option>
                <option value="2" class="lead">db.Autores.find({ Anac:{$gte:1950, $lte:1970} })</option>
                <option value="3" class="lead">db.find({ Anac:{$gte:1950, $lte:1970} })</option>
                <option value="4" class="lead">Autores.find({ Anac:{$gte:1950, $lte:1970} })</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="res4" class="lead">Con el mismo caso busque los Autores que no esten vivos</label>
              <select name="res4" id="res4" class="form-control">
                <option value="" class="lead">Selecciona unas respuesta...</option>
                <option value="1" class="lead">Autores.find({ Afa:{$ne:"vivo"} })</option>
                <option value="2" class="lead">db.find({ })</option>
                <option value="3" class="lead">find({ Afa:{$ne:"vivo"} })</option>
                <option value="4" class="lead">db.Autores.find({ Afa:{$ne:"vivo"} })</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="res5" class="lead">Con el mismo caso busque los Autores que su fecha de nacimiento sea menor a
                1950</label>
              <select name="res5" id="res5" class="form-control">
                <option value="" class="lead">Selecciona unas respuesta...</option>
                <option value="1" class="lead">.find({ Anac:{$lt:1950} })</option>
                <option value="2" class="lead">Autores.find({ Anac:{$lt:1950} })</option>
                <option value="3" class="lead">db.Autores.find({ Anac:{$lt:1950} })</option>
                <option value="4" class="lead">db..find({ Anac:{$lt:1950} })</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="btn">
            Verificar respuestas
          </button>
          <!-- <button type="submit" id="btn">Enviar</button> -->
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

  <script>
    mapboxgl.accessToken =
      'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-71.060982, 42.35725],
      zoom: 18,
    })
  </script>


  <script src="js/inicio.js"></script>
  <script src="./js/Avanzado.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="sweetAlert.js"></script>

</body>

</html>